* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  background-color: #d6d6d6;
  width: 98vw;
  height: 98vh;
  margin: 0 auto;
}

.bgpic img {
  width: 98vw;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

#logo {
  padding-left: 2%;
}

nav {
  width: 98vw;
  font-family: "Audiowide", cursive;
  display: flex;
  align-items: baseline;
  position: absolute;
  top: 2%;
}

.nav-links {
  flex: 1;
  text-align: right;
  padding-right: 2%;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 2% 3%;
  position: relative;
}

.nav-links ul li a {
  background-color: rgba(134, 125, 125, 0.2);
  color: black;
  text-decoration: none;
  border-radius: 10%;
}

.nav-links ul li a:hover {
  font-weight: bold;
}

.active {
  color: yellow;
}

.main {
  width: 98vw;
  margin-bottom: 5rem;
}

.startText {
  position: absolute;
  top: 20%;
  color: azure;
  background-color: rgba(105, 105, 105, 0.9);
  max-width: 90%;
  margin: 2em 5%;
  padding: 0.6rem;
  border-radius: 15px;
}

.startText {
  text-decoration: none;
  color: azure;
}

.course-container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  align-items: center;
}

.courseCard {
  max-width: 80%;
  grid-column: auto;
  grid-row: auto;
  background-color: rgba(105, 105, 105, 0.5);
  padding: 1rem;
  text-align: center;
  margin: 0.5rem 1rem;
  border-radius: 5px;
}

footer {
  background-color: #ababaf;
  width: 98vw;
  text-align: center;
  position: fixed;
  bottom: 0;
  padding: 1rem 0rem;
}

/*För mobiltelefoner*/
@media (max-width: 768px) {
  .course-container {
    grid-template-columns: auto;
  }
  .courseCard {
    width: 100%;
  }
  .main {
    margin-bottom: 15rem;
  }
}

/* För paddor */
@media (min-width: 769px) and (max-width: 992px) {
  .course-container {
    grid-template-columns: auto auto;
  }
  .courseCard {
    width: 100%;
  }
  .startText {
    max-width: 70%;
    margin: 2em 15%;
  }
  .main {
    margin-bottom: 5rem;
  }
}

/* För desktops */
@media (min-width: 993px) {
  .courseCard {
    width: 100%;
  }
  .startText {
    max-width: 50%;
    margin: 2em 25%;
  }
  .main {
    margin-bottom: 3rem;
  }
}
