* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  background-color: #d6d6d6;
  width: 98vw;
  height: 98vh;
  margin: 0 auto;
}

.bgpic img {
  width: 98vw;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

#logo {
  padding-left: 2%;
}

nav {
  width: 98vw;
  font-family: "Audiowide", cursive;
  display: flex;
  align-items: baseline;
  position: absolute;
  top: 2%;
}

.nav-links {
  flex: 1;
  text-align: right;
  padding-right: 2%;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 2% 3%;
  position: relative;
}

.nav-links ul li a {
  background-color: rgba(134, 125, 125, 0.2);
  color: black;
  text-decoration: none;
  border-radius: 10%;
}

.nav-links ul li a:hover {
  font-weight: bold;
}

.main {
  width: 98vw;
  margin-bottom: 5rem;
}

.startText {
  position: absolute;
  top: 20%;
  color: azure;
  background-color: rgba(105, 105, 105, 0.9);
  max-width: 90%;
  margin: 2em 5%;
  padding: 0.6rem;
  border-radius: 15px;
}

.startText {
  text-decoration: none;
  color: azure;
}

.course-container {
  display: grid;
  grid-template-columns: auto;
  justify-content: space-between;
  align-items: center;
}

.courseCard {
  max-width: 80%;
  grid-column: auto;
  grid-row: auto;
  background-color: rgba(105, 105, 105, 0.5);
  padding: 1rem;
  text-align: center;
  margin: 0.5rem auto;
  border-radius: 5px;
}

.courseBtn {
  margin-top: 0.8rem;
}

.modal {
  display: none;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

footer {
  background-color: #d6bd9a;
  width: 98vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 1rem;
}

footer p {
  font-size: 10px;
}

#showCart,
#showAdmin,
#showCourses {
  margin-right: 2rem;
  font-size: 12px;
  border: none;
  font-family: "Audiowide", cursive;
  list-style: none;
  display: inline-block;
  padding: 0.1em;
  position: relative;
  background-color: whitesmoke;
  color: black;
  text-decoration: none;
  border-radius: 10%;
}

#showCart:hover,
#showAdmin:hover,
#showCourses:hover {
  font-weight: bold;
}

#addCourse {
  margin-top: 1rem;
}

/*För mobiltelefoner*/
@media (max-width: 768px) {
  .nav-links ul li a {
    background-color: rgba(105, 105, 105, 0.7);
  }
  .main {
    margin-top: 3rem;
    margin-bottom: 15rem;
  }
}

/* För paddor */
@media (min-width: 769px) and (max-width: 992px) {
  .startText {
    max-width: 70%;
    margin: 2em 15%;
  }
  .main {
    margin-bottom: 5rem;
  }
}

/* För desktops */
@media (min-width: 993px) {
  .startText {
    max-width: 50%;
    margin: 2em 25%;
  }
  .main {
    margin-bottom: 3rem;
  }
}
